{% extends "layout/base.html" %}

{% load static %}

{% block content %}
<div style="margin-left: auto; margin-right: auto; width: 45%">
	<div id="main">
		<article class="post">
			<div>
				<h2>Вход</h2>
				<form method="post">
					{% csrf_token %}
					{% for field in form.visible_fields %}
						{% if field.errors %}
						<ul>
						  {% for error in field.errors %}
						  <li><em>{{ error|escape }}</em></li>
						  {% endfor %}
						</ul>
						{% endif %}
					  <p>{{ field.label_tag }}<br>{{ field }}</p>
					  {{ field.help_text }}
					{% endfor %}
					<input type="hidden" name="next" value="{{ next }}">
					<input style="width: 100%" type="submit" value="Установить новый пароль">
				</form>
			</div>
		</article>
	</div>
</div>
{% endblock %}
