{% extends "layout/base.html" %}

{% load static %}


{% block content %}
    <div>
        <div class="post" style="text-align: center">
            <h2>Настройка</h2>
            <ul style="display: flex; list-style-type: none">
                <li><span>текущий раздел</span></li>
                <li><span>будущие разделы</span></li>
                <li><span>будущие разделы</span></li>
                <li><span>будущие разделы</span></li>
            </ul>
        </div>
        <div id="main">
            <article class="post">
                <div>
                    {{ extra_context.rubrics }}
                    <h1><a href="{% url 'news_output:index' %}">Вернуться на главную</a></h1>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                                {% if field.errors %}
                            <ul>
                              {% for error in field.errors %}
                              <li><em>{{ error|escape }}</em></li>
                              {% endfor %}
                            </ul>
                            {% endif %}
                            {{ field.attrs }}
                            {% if field.name == "send_messages" %}
                                <p style="display: flex">{{ field.label_tag }}
                                     <span style="margin-top: 5px">{{ field }}<span>
                                     {{ field.help_text }}
                                </p>
                            {% else %}
                                <p>{{ field.label_tag }}
                                     {{ field }}
                                     {{ field.help_text }}
                                </p>
                            {% endif %}
                        {% endfor %}
                        <input type="hidden" name="next" value="{{ next }}">
                        <input class="button_size_auth" type="submit" value="Сохранить изменение">
                    </form>
                    <a href="{% url 'news_auth_registered:profile_delete' %}">Удалить профиль?</a>
                </div>
            </article>
        </div>
    </div>
{% endblock %}