{% extends "layout/base.html" %}

{% block title %}Добавление Новости{% endblock %}

{% block content %}
<div class="form_add_news">
  <h2>Добавление новости</h2>
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
        {% if field.errors %}
        <ul>
          {% for error in field.errors %}
          <li><em>{{ error|escape }}</em></li>
          {% endfor %}
        </ul>
        {% endif %}
      <p>{{ field.label_tag }}<br>{{ field }}</p>
      {{ field.help_text }}
    {% endfor %}
    <input type="submit" value="Добавить">
  </form>
</div>
{% endblock %}