{% load static %}
{% load cache %}
{% load thumbnail %}

<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Главная{% endblock %} :: Новостной портал</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{% static 'news_portal/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" type="text/css" href="{% static 'news_portal/css/reset.css' %}">
		<link rel="stylesheet" href="{% static 'news_portal/css/main.css' %}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'news_portal/css/ie9.css' %}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'news_portal/css/ie8.css' %}" /><![endif]-->
		<style>


			li:hover {
			  cursor: pointer;
			}

			ul li ul {
			  visibility: hidden;
			  opacity: 0;
			  position: absolute;

			  margin-top: 1rem;
			  display: none;
			}

			ul li:hover > ul,
			ul li ul:hover {
			  visibility: visible;
			  opacity: 1;
			  display: block;
			}


		</style>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					{% cache 300 navbar request.user.is_authenticated %}
					<header id="header">
						<h1><a href="{% url 'news_output:index' %}">Главная Страница</a></h1>
						{% if user.is_superuser %}
						<h1><a style="border-left: solid 1px rgba(160, 160, 160, 0.3); padding-left: 25px" href="{% url 'admin:index' %}">Сайт администратора</a></h1>
						<h1><a style="border-left: solid 1px rgba(160, 160, 160, 0.3); padding-left: 25px" href="{% url 'news_output:publication_user_auth' type_sort='default' user_id=user.id %}">Мои публикации</a></h1>
						{% endif %}
						<nav class="links" role="navigation">
							<ul>
								{% for superubric in rubrics %}
								{% ifchanged superubric.super_rubric.pk %}
								<li>
									{{ superubric.super_rubric.name }}
								{% endifchanged %}
									<ul style="display: flex; flex-direction: column">
										{% for rubric in rubrics %}
												{% if rubric.super_rubric.pk == superubric.super_rubric.pk %}
												<li><a href="{{ rubric.get_absolute_url }}">{{ rubric.name }}</a></li>
												{% endif %}
										{% endfor %}
									</ul>
								{% endfor %}
								<li><a href="{% url 'news_output:news_add' %}">Добавить Новость</a></li>
							</ul>
						</nav>
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="{% url 'news_output:search' %}">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</li>
								{% if not user.is_authenticated %}
								<li class="auth">
									<a class="fa-user" href="{% url  'news_auth_registered:login' %}">Auth</a>
								</li>
								{% else %}
								<li class="menu">
									<a class="fa-user" href="#menu">Menu</a>
								</li>
								{% endif %}
							</ul>
						</nav>
					</header>
					{% endcache %}
				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<section>
								<form id="search_auth_user" method="get" action="{% url 'news_output:search' %}">
									<input type="text" name="query" placeholder="Search" />
								</form>
							</section>

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="#">
											<h3>Lorem ipsum</h3>
											<p>Feugiat tempus veroeros dolor</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Dolor sit amet</h3>
											<p>Sed vitae justo condimentum</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Feugiat veroeros</h3>
											<p>Phasellus sed ultricies mi congue</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Etiam sed consequat</h3>
											<p>Porta lectus amet ultricies</p>
										</a>
									</li>
								</ul>
							</section>

						<!-- Actions -->
						{% if user.is_authenticated %}
							<section>
								<ul class="actions vertical">
									<li><a href="{% url 'news_auth_registered:password_change' %}" class="button big fit">Сменить пароль</a></li>
								</ul>
								<ul class="actions vertical">
									<li><a href="{% url 'news_auth_registered:profile_setting' %}" class="button big fit">Настройки профиля</a></li>
								</ul>
								<ul class="actions vertical">
									<li><a href="{% url 'news_auth_registered:logout' %}" class="button big fit">Язык, Лента</a></li>
								</ul>
								<ul class="actions vertical">
									<li><a href="{% url 'news_auth_registered:logout' %}" class="button big fit">Выйти из личного кабинета</a></li>
								</ul>
							</section>
						{% else  %}
						{% endif %}


					</section>

				<!-- Main -->
				{% block content %}
				{% endblock %}
				<!-- Sidebar -->
					{% if auth != 0 %}
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="#" class="logo"><img src="{% static 'news_portal/images/logo.jpg' %}" alt="" /></a>
								<header>
									<h2>Future Imperfect</h2>
									<p>Another fine responsive site template by <a href="http://html5up.net">HTML5 UP</a></p>
								</header>
							</section>

						{% block content_author %}
						{% endblock %}

						<!-- Posts List -->
							<section>
								<h1>Популярное на этой неделе</h1>
								<ul class="posts">
									{% for news_week in news_week_more_views %}
									<li>
										<article>
											<header>
												<h3><a href="{% url 'news_output:detail' pk=news_week.pk %}">{{ news_week.title }}</a></h3>
												<time class="published" datetime="2015-10-20">{{ news_week.published|date:"d E Y В H:i" }}</time>
											</header>
											{% if news_week.image == None or news_week.image == '' %}
											<a href="#" class="image featured"><img src="{% static 'news_portal/images/pic01.jpg' %}" alt="" /></a>
											{% else %}
											<a href="{% url 'news_output:detail' pk=news_week.pk %}" class="image featured"><img src="{% thumbnail news_week.image 'default' %}" alt="" /></a>
											{% endif %}
										</article>
									</li>
									{% endfor %}
								</ul>
							</section>

						<!-- About -->
							<section class="blurb">
								<h2>О нас</h2>
								<p>Это сайт.</p>
								<p>Этот сайт, возможно, первый полноценный проект дениса.</p>
								<ul class="actions">
									<li><a href="#" class="button">Подробнее</a></li>
								</ul>
							</section>

						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
									<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
								</ul>
								<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
							</section>

					</section>
					{% else %}
					{% endif %}

			</div>

		<!-- Scripts -->
			<script src="{% static 'news_portal/js/jquery.min.js' %}"></script>
			<script src="{% static 'news_portal/js/skel.min.js' %}"></script>
			<script src="{% static 'news_portal/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'news_portal/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'news_portal/js/main.js' %}"></script>
			{% block js %}
			{% endblock %}

	</body>
</html>